In [62]:
import pandas as pd

In [65]:
df = pd.read_csv("data/XXHq.csv")
df

/Users/emarieswenson/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3457: DtypeWarning: Columns (2,3) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,site,raceeth,q6orig,q7orig,record,orig_rec,q1,q2,q3,q4,...,q94,q95,q96,q97,q98,q99,BMIPCT,weight,stratum,psu
0,XX,7.0,504.0,121.0,1.0,NaN,5.0,2.0,2.0,1.0,...,2.0,5.0,1.0,1.0,2.0,1.0,46.88,1.66,213.0,57923.0
1,XX,8.0,503.0,119.0,2.0,NaN,4.0,2.0,2.0,2.0,...,2.0,6.0,1.0,1.0,2.0,1.0,62.23,1.38,213.0,57923.0
2,XX,8.0,506.0,95.0,3.0,NaN,4.0,1.0,2.0,2.0,...,2.0,1.0,1.0,3.0,2.0,1.0,0.59,1.49,213.0,57923.0
3,XX,5.0,510.0,152.0,4.0,NaN,4.0,2.0,2.0,2.0,...,2.0,1.0,1.0,3.0,1.0,1.0,69.78,1.71,213.0,57923.0
4,XX,6.0,510.0,130.0,5.0,NaN,5.0,2.0,2.0,1.0,...,2.0,2.0,1.0,3.0,2.0,2.0,16.73,1.66,213.0,57923.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13672,XX,5.0,503,124,13865.0,NaN,4.0,1.0,1.0,2.0,...,NaN,NaN,NaN,4.0,NaN,NaN,69.88,0.60,201.0,787890.0
13673,XX,3.0,508,001,13866.0,NaN,6.0,2.0,2.0,2.0,...,NaN,NaN,NaN,3.0,NaN,NaN,NaN,0.55,201.0,787890.0
13674,XX,5.0,600,120,13869.0,NaN,5.0,2.0,3.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,0.75,0.63,201.0,787890.0
13675,XX,7.0,505,125,13870.0,NaN,5.0,2.0,3.0,1.0,...,NaN,NaN,NaN,2.0,NaN,NaN,49.31,0.53,201.0,787890.0
13676,XX,5.0,504,165,13871.0,NaN,6.0,1.0,3.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,92.54,0.56,201.0,787890.0

In [66]:
columns = df.columns.to_list()
columns

['site',
 'raceeth',
 'q6orig',
 'q7orig',
 'record',
 'orig_rec',
 'q1',
 'q2',
 'q3',
 'q4',
 'q5',
 'q6',
 'q7',
 'q8',
 'q9',
 'q10',
 'q11',
 'q12',
 'q13',
 'q14',
 'q15',
 'q16',
 'q17',
 'q18',
 'q19',
 'q20',
 'q21',
 'q22',
 'q23',
 'q24',
 'q25',
 'q26',
 'q27',
 'q28',
 'q29',
 'q30',
 'q31',
 'q32',
 'q33',
 'q34',
 'q35',
 'q36',
 'q37',
 'q38',
 'q39',
 'q40',
 'q41',
 'q42',
 'q43',
 'q44',
 'q45',
 'q46',
 'q47',
 'q48',
 'q49',
 'q50',
 'q51',
 'q52',
 'q53',
 'q54',
 'q55',
 'q56',
 'q57',
 'q58',
 'q59',
 'q60',
 'q61',
 'q62',
 'q63',
 'q64',
 'q65',
 'q66',
 'q67',
 'q68',
 'q69',
 'q70',
 'q71',
 'q72',
 'q73',
 'q74',
 'q75',
 'q76',
 'q77',
 'q78',
 'q79',
 'q80',
 'q81',
 'q82',
 'q83',
 'q84',
 'q85',
 'q86',
 'q87',
 'q88',
 'q89',
 'q90',
 'q91',
 'q92',
 'q93',
 'q94',
 'q95',
 'q96',
 'q97',
 'q98',
 'q99',
 'BMIPCT',
 'weight',
 'stratum',
 'psu']

In [49]:
for column in columns:
    print(column)
    print(df[column].value_counts())
    print()

site
XX    13677
Name: site, dtype: int64

raceeth
5.0    6668
3.0    2040
7.0    2029
6.0    1009
8.0     661
2.0     618
1.0     145
4.0      69
Name: raceeth, dtype: int64

q6orig
506.0    721
504.0    662
508.0    644
505.0    638
503.0    618
        ...
308.0      1
710.0      1
701.0      1
309        1
7          1
Name: q6orig, Length: 118, dtype: int64

q7orig
130.0    338
120.0    325
140.0    284
150.0    263
135.0    252
        ...
350.0      1
382        1
272        1
20         1
001        1
Name: q7orig, Length: 544, dtype: int64

record
1.0        1
9188.0     1
9190.0     1
9191.0     1
9192.0     1
          ..
4608.0     1
4609.0     1
4610.0     1
4611.0     1
13871.0    1
Name: record, Length: 13677, dtype: int64

orig_rec
Series([], Name: orig_rec, dtype: int64)

q1
5.0    3628
4.0    3473
6.0    3102
3.0    1699
7.0    1616
1.0      60
2.0      27
Name: q1, dtype: int64

q2
1.0    6885
2.0    6641
Name: q2, dtype: int64

q3
2.0    3717
1.0    3637
3.0    3322
4.0    2850
5.0      39
Name: q3, dtype: int64

q4
2.0    10342
1.0     3044
Name: q4, dtype: int64

q5
    E       8000
  C         2279
 B           672
A            385
  C E        261
   D         202
A   E        166
 B  E        126
A C           65
   DE         43
A C E         42
 BC           33
  CD          22
 B D          16
ABCDE         12
 B DE         10
  CDE          9
A CDE          9
AB             8
A CD           8
       H       8
 BC E          8
     F         7
A  D           6
ABC            6
AB  E          5
 BCD           4
A  DE          4
ABC E          4
      G        3
ABCDEFGH       3
 BCDE          1
AB D           1
ABCDEF         1
   DE G        1
 B D F H       1
    EF         1
Name: q5, dtype: int64

q6
1.68    1160
1.63    1065
1.70    1061
1.65    1048
1.73    1040
1.60     988
1.75     830
1.78     823
1.57     811
1.80     641
1.83     587
1.55     507
1.85     375
1.52     330
1.88     259
1.50     176
1.90     173
1.93      90
1.47      42
1.96      41
1.98      26
1.45      20
1.42      19
2.01      11
1.32       6
1.37       5
1.35       3
2.03       1
1.30       1
1.40       1
Name: q6, dtype: int64

q7
54.43     551
58.97     549
63.50     480
68.04     461
56.70     457
         ...
151.50      1
161.48      1
125.19      1
135.63      1
118.39      1
Name: q7, Length: 254, dtype: int64

qn8
2.0    10360
1.0      789
Name: qn8, dtype: int64

qn9
2.0    10603
1.0     2214
Name: qn9, dtype: int64

qn10
2.0    7014
1.0     423
Name: qn10, dtype: int64

qn11
2.0    4453
1.0    2784
Name: qn11, dtype: int64

qn12
2.0    9141
1.0    1403
Name: qn12, dtype: int64

qn13
2.0    12509
1.0      392
Name: qn13, dtype: int64

qn14
2.0    10358
1.0      501
Name: qn14, dtype: int64

qn15
2.0    12331
1.0     1270
Name: qn15, dtype: int64

qn16
2.0    12473
1.0     1072
Name: qn16, dtype: int64

qn17
2.0    8387
1.0    2384
Name: qn17, dtype: int64

qn18
2.0    11954
1.0     1165
Name: qn18, dtype: int64

qn19
2.0    10368
1.0      871
Name: qn19, dtype: int64

qn20
2.0    9079
1.0    1159
Name: qn20, dtype: int64

qn21
2.0    6289
1.0     558
Name: qn21, dtype: int64

qn22
2.0    7904
1.0     799
Name: qn22, dtype: int64

qn23
2.0    10744
1.0     2703
Name: qn23, dtype: int64

qn24
2.0    11347
1.0     2138
Name: qn24, dtype: int64

qn25
2.0    8495
1.0    4926
Name: qn25, dtype: int64

qn26
2.0    10804
1.0     2633
Name: qn26, dtype: int64

qn27
2.0    11271
1.0     2151
Name: qn27, dtype: int64

qn28
2.0    9453
1.0    1067
Name: qn28, dtype: int64

qn29
2.0    8524
1.0     225
Name: qn29, dtype: int64

qn30
2.0    7651
1.0    2318
Name: qn30, dtype: int64

qn31
2.0    11267
1.0     1035
Name: qn31, dtype: int64

qn32
2.0    11591
1.0      726
Name: qn32, dtype: int64

qn33
2.0    525
1.0     44
Name: qn33, dtype: int64

qn34
2.0    6648
1.0    6557
Name: qn34, dtype: int64

qn35
2.0    8658
1.0    4109
Name: qn35, dtype: int64

qn36
2.0    3030
1.0     296
Name: qn36, dtype: int64

qn37
2.0    12247
1.0      544
Name: qn37, dtype: int64

qn38
2.0    12050
1.0      755
Name: qn38, dtype: int64

qn39
2.0    1364
1.0    1225
Name: qn39, dtype: int64

qn40
2.0    11140
1.0     2046
Name: qn40, dtype: int64

qn41
2.0    8942
1.0    3669
Name: qn41, dtype: int64

qn42
2.0    10363
1.0     1657
Name: qn42, dtype: int64

qn43
2.0    8647
1.0     248
Name: qn43, dtype: int64

qn44
2.0    1732
1.0    1150
Name: qn44, dtype: int64

qn45
2.0    7440
1.0    4219
Name: qn45, dtype: int64

qn46
2.0    12428
1.0      818
Name: qn46, dtype: int64

qn47
2.0    10359
1.0     2946
Name: qn47, dtype: int64

qn48
2.0    11443
1.0      955
Name: qn48, dtype: int64

qn49
2.0    10983
1.0     2000
Name: qn49, dtype: int64

qn50
2.0    11615
1.0      557
Name: qn50, dtype: int64

qn51
2.0    9880
1.0     775
Name: qn51, dtype: int64

qn52
2.0    12395
1.0      316
Name: qn52, dtype: int64

qn53
2.0    12339
1.0      351
Name: qn53, dtype: int64

qn54
2.0    11932
1.0      524
Name: qn54, dtype: int64

qn55
2.0    8877
1.0     172
Name: qn55, dtype: int64

qn56
2.0    10754
1.0      200
Name: qn56, dtype: int64

qn57
2.0    10335
1.0     2946
Name: qn57, dtype: int64

qn58
2.0    6845
1.0    4195
Name: qn58, dtype: int64

qn59
2.0    11556
1.0      406
Name: qn59, dtype: int64

qn60
2.0    10967
1.0      992
Name: qn60, dtype: int64

qn61
2.0    8733
1.0    3226
Name: qn61, dtype: int64

qn62
2.0    2484
1.0     652
Name: qn62, dtype: int64

qn63
1.0    1694
2.0    1447
Name: qn63, dtype: int64

qn64
2.0    2355
1.0     693
Name: qn64, dtype: int64

qn67
2.0    8212
1.0    3739
Name: qn67, dtype: int64

qn68
2.0    5530
1.0    4942
Name: qn68, dtype: int64

qn69
2.0    8627
1.0    3965
Name: qn69, dtype: int64

qn70
2.0    11255
1.0     1631
Name: qn70, dtype: int64

qn71
2.0    6797
1.0    5101
Name: qn71, dtype: int64

qn72
2.0    7450
1.0    4449
Name: qn72, dtype: int64

qn73
1.0    6432
2.0    5445
Name: qn73, dtype: int64

qn74
2.0    9500
1.0    2347
Name: qn74, dtype: int64

qn75
2.0    7807
1.0    3588
Name: qn75, dtype: int64

qn76
2.0    6570
1.0    2919
Name: qn76, dtype: int64

qn77
2.0    9637
1.0    1956
Name: qn77, dtype: int64

qn78
2.0    7595
1.0    5625
Name: qn78, dtype: int64

qn79
2.0    10200
1.0     2596
Name: qn79, dtype: int64

qn80
2.0    7246
1.0    5931
Name: qn80, dtype: int64

qn81
2.0    5865
1.0    5423
Name: qn81, dtype: int64

qn82
1.0    5545
2.0    4242
Name: qn82, dtype: int64

qn83
2.0    9795
1.0    1754
Name: qn83, dtype: int64

qn84
2.0    11426
1.0     1300
Name: qn84, dtype: int64

qn85
2.0    9286
1.0     920
Name: qn85, dtype: int64

qn86
1.0    9350
2.0    3118
Name: qn86, dtype: int64

qn87
2.0    9981
1.0    2919
Name: qn87, dtype: int64

qn88
2.0    10175
1.0     2930
Name: qn88, dtype: int64

qn89
1.0    9785
2.0    3226
Name: qn89, dtype: int64

qn90
2.0    8016
1.0     661
Name: qn90, dtype: int64

qn91
2.0    8871
1.0     693
Name: qn91, dtype: int64

qn92
2.0    4829
1.0    4765
Name: qn92, dtype: int64

qn93
2.0    9670
1.0     490
Name: qn93, dtype: int64

qn94
2.0    6971
1.0    1418
Name: qn94, dtype: int64

qn95
2.0    4353
1.0    4121
Name: qn95, dtype: int64

qn96
2.0    7998
1.0     392
Name: qn96, dtype: int64

qn97
2.0    7458
1.0    1354
Name: qn97, dtype: int64

qn98
2.0    5245
1.0    3195
Name: qn98, dtype: int64

qn99
1.0    8201
2.0     187
Name: qn99, dtype: int64

qnfrcig
2.0    12158
1.0      159
Name: qnfrcig, dtype: int64

qndaycig
2.0    12186
1.0      131
Name: qndaycig, dtype: int64

qnfrevp
2.0    11458
1.0     1309
Name: qnfrevp, dtype: int64

qndayevp
2.0    11883
1.0      884
Name: qndayevp, dtype: int64

qntb2
2.0    10579
1.0     1171
Name: qntb2, dtype: int64

qntb3
2.0    10394
1.0     1367
Name: qntb3, dtype: int64

qntb4
2.0    7408
1.0    4465
Name: qntb4, dtype: int64

qntb5
2.0    7874
1.0    4250
Name: qntb5, dtype: int64

qniudimp
2.0    2888
1.0     160
Name: qniudimp, dtype: int64

qnothhpl
2.0    2092
1.0     956
Name: qnothhpl, dtype: int64

qndualbc
2.0    2734
1.0     291
Name: qndualbc, dtype: int64

qnbcnone
2.0    2663
1.0     385
Name: qnbcnone, dtype: int64

qnfr0
2.0    11668
1.0      861
Name: qnfr0, dtype: int64

qnfr1
1.0    7167
2.0    5362
Name: qnfr1, dtype: int64

qnfr2
2.0    8969
1.0    3560
Name: qnfr2, dtype: int64

qnveg0
2.0    10765
1.0      992
Name: qnveg0, dtype: int64

qnveg1
1.0    6941
2.0    4816
Name: qnveg1, dtype: int64

qnveg2
2.0    8700
1.0    3057
Name: qnveg2, dtype: int64

qnveg3
2.0    10110
1.0     1647
Name: qnveg3, dtype: int64

qnsoda1
2.0    9666
1.0    1729
Name: qnsoda1, dtype: int64

qnsoda2
2.0    10325
1.0     1070
Name: qnsoda2, dtype: int64

qnmilk1
2.0    6837
1.0    2652
Name: qnmilk1, dtype: int64

qnmilk3
2.0    8844
1.0     645
Name: qnmilk3, dtype: int64

qnbk7day
2.0    7907
1.0    3686
Name: qnbk7day, dtype: int64

qnpa0day
2.0    10900
1.0     2320
Name: qnpa0day, dtype: int64

qnpa7day
2.0    10266
1.0     2954
Name: qnpa7day, dtype: int64

qndlype
2.0    8453
1.0    2835
Name: qndlype, dtype: int64

qnnodnt
2.0    12208
1.0      260
Name: qnnodnt, dtype: int64

qnspdrk1
2.0    8566
1.0    1028
Name: qnspdrk1, dtype: int64

qnspdrk2
2.0    9011
1.0     583
Name: qnspdrk2, dtype: int64

qnwater1
1.0    7668
2.0    2492
Name: qnwater1, dtype: int64

qnwater2
1.0    6924
2.0    3236
Name: qnwater2, dtype: int64

qnwater3
1.0    5471
2.0    4689
Name: qnwater3, dtype: int64

qnillict
2.0    8173
1.0    1620
Name: qnillict, dtype: int64

BMIPCT
58.87    25
47.57    24
88.10    21
63.79    21
57.31    21
         ..
9.63      1
15.23     1
80.21     1
18.94     1
67.11     1
Name: BMIPCT, Length: 4015, dtype: int64

qnowt
2.0    10207
1.0     1933
Name: qnowt, dtype: int64

qnobese
2.0    10345
1.0     1795
Name: qnobese, dtype: int64

weight
0.19    394
0.16    359
0.17    354
0.15    262
0.22    216
       ...
2.83      1
3.72      1
3.47      1
3.34      1
2.46      1
Name: weight, Length: 384, dtype: int64

stratum
201.0    2254
102.0    1587
103.0    1328
211.0    1284
101.0     893
214.0     832
202.0     748
111.0     702
213.0     688
212.0     659
104.0     565
113.0     553
114.0     541
204.0     529
112.0     349
203.0     165
Name: stratum, dtype: int64

psu
343880.0    1333
172277.0    1076
330220.0     779
472234.0     436
373811.0     388
401640.0     387
343944.0     375
417702.0     331
373775.0     328
587854.0     318
58499.0      306
787890.0     292
87965.0      292
573852.0     272
88352.0      263
600643.0     257
529813.0     254
143493.0     252
173676.0     247
373849.0     246
244532.0     242
316415.0     239
515957.0     236
601330.0     229
674912.0     227
187469.0     225
602727.0     223
689486.0     223
171694.0     212
57923.0      206
87451.0      195
86668.0      195
243944.0     193
173574.0     185
189483.0     178
601606.0     166
601157.0     151
87028.0      150
358896.0     149
688493.0     147
486661.0     145
602359.0     141
515041.0     137
343678.0     137
515356.0     101
343631.0      93
693800.0      84
691271.0      81
559808.0      79
517231.0      76
215728.0      73
689686.0      72
687722.0      55
Name: psu, dtype: int64

In [50]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13677 entries, 0 to 13676
Columns: 143 entries, site to psu
dtypes: float64(139), object(4)
memory usage: 14.9+ MB

In [51]:
df.dtypes.to_dict()

{'site': dtype('O'),
 'raceeth': dtype('float64'),
 'q6orig': dtype('O'),
 'q7orig': dtype('O'),
 'record': dtype('float64'),
 'orig_rec': dtype('float64'),
 'q1': dtype('float64'),
 'q2': dtype('float64'),
 'q3': dtype('float64'),
 'q4': dtype('float64'),
 'q5': dtype('O'),
 'q6': dtype('float64'),
 'q7': dtype('float64'),
 'qn8': dtype('float64'),
 'qn9': dtype('float64'),
 'qn10': dtype('float64'),
 'qn11': dtype('float64'),
 'qn12': dtype('float64'),
 'qn13': dtype('float64'),
 'qn14': dtype('float64'),
 'qn15': dtype('float64'),
 'qn16': dtype('float64'),
 'qn17': dtype('float64'),
 'qn18': dtype('float64'),
 'qn19': dtype('float64'),
 'qn20': dtype('float64'),
 'qn21': dtype('float64'),
 'qn22': dtype('float64'),
 'qn23': dtype('float64'),
 'qn24': dtype('float64'),
 'qn25': dtype('float64'),
 'qn26': dtype('float64'),
 'qn27': dtype('float64'),
 'qn28': dtype('float64'),
 'qn29': dtype('float64'),
 'qn30': dtype('float64'),
 'qn31': dtype('float64'),
 'qn32': dtype('float64'),
 'qn33': dtype('float64'),
 'qn34': dtype('float64'),
 'qn35': dtype('float64'),
 'qn36': dtype('float64'),
 'qn37': dtype('float64'),
 'qn38': dtype('float64'),
 'qn39': dtype('float64'),
 'qn40': dtype('float64'),
 'qn41': dtype('float64'),
 'qn42': dtype('float64'),
 'qn43': dtype('float64'),
 'qn44': dtype('float64'),
 'qn45': dtype('float64'),
 'qn46': dtype('float64'),
 'qn47': dtype('float64'),
 'qn48': dtype('float64'),
 'qn49': dtype('float64'),
 'qn50': dtype('float64'),
 'qn51': dtype('float64'),
 'qn52': dtype('float64'),
 'qn53': dtype('float64'),
 'qn54': dtype('float64'),
 'qn55': dtype('float64'),
 'qn56': dtype('float64'),
 'qn57': dtype('float64'),
 'qn58': dtype('float64'),
 'qn59': dtype('float64'),
 'qn60': dtype('float64'),
 'qn61': dtype('float64'),
 'qn62': dtype('float64'),
 'qn63': dtype('float64'),
 'qn64': dtype('float64'),
 'qn67': dtype('float64'),
 'qn68': dtype('float64'),
 'qn69': dtype('float64'),
 'qn70': dtype('float64'),
 'qn71': dtype('float64'),
 'qn72': dtype('float64'),
 'qn73': dtype('float64'),
 'qn74': dtype('float64'),
 'qn75': dtype('float64'),
 'qn76': dtype('float64'),
 'qn77': dtype('float64'),
 'qn78': dtype('float64'),
 'qn79': dtype('float64'),
 'qn80': dtype('float64'),
 'qn81': dtype('float64'),
 'qn82': dtype('float64'),
 'qn83': dtype('float64'),
 'qn84': dtype('float64'),
 'qn85': dtype('float64'),
 'qn86': dtype('float64'),
 'qn87': dtype('float64'),
 'qn88': dtype('float64'),
 'qn89': dtype('float64'),
 'qn90': dtype('float64'),
 'qn91': dtype('float64'),
 'qn92': dtype('float64'),
 'qn93': dtype('float64'),
 'qn94': dtype('float64'),
 'qn95': dtype('float64'),
 'qn96': dtype('float64'),
 'qn97': dtype('float64'),
 'qn98': dtype('float64'),
 'qn99': dtype('float64'),
 'qnfrcig': dtype('float64'),
 'qndaycig': dtype('float64'),
 'qnfrevp': dtype('float64'),
 'qndayevp': dtype('float64'),
 'qntb2': dtype('float64'),
 'qntb3': dtype('float64'),
 'qntb4': dtype('float64'),
 'qntb5': dtype('float64'),
 'qniudimp': dtype('float64'),
 'qnothhpl': dtype('float64'),
 'qndualbc': dtype('float64'),
 'qnbcnone': dtype('float64'),
 'qnfr0': dtype('float64'),
 'qnfr1': dtype('float64'),
 'qnfr2': dtype('float64'),
 'qnveg0': dtype('float64'),
 'qnveg1': dtype('float64'),
 'qnveg2': dtype('float64'),
 'qnveg3': dtype('float64'),
 'qnsoda1': dtype('float64'),
 'qnsoda2': dtype('float64'),
 'qnmilk1': dtype('float64'),
 'qnmilk3': dtype('float64'),
 'qnbk7day': dtype('float64'),
 'qnpa0day': dtype('float64'),
 'qnpa7day': dtype('float64'),
 'qndlype': dtype('float64'),
 'qnnodnt': dtype('float64'),
 'qnspdrk1': dtype('float64'),
 'qnspdrk2': dtype('float64'),
 'qnwater1': dtype('float64'),
 'qnwater2': dtype('float64'),
 'qnwater3': dtype('float64'),
 'qnillict': dtype('float64'),
 'BMIPCT': dtype('float64'),
 'qnowt': dtype('float64'),
 'qnobese': dtype('float64'),
 'weight': dtype('float64'),
 'stratum': dtype('float64'),
 'psu': dtype('float64')}

In [52]:
#qn66 wasn't here?
cols_to_drop = ["q3", "q6", "q7", "qn13", "qn14", "qn18", "qn29", "qn31", "qn36", "qn39", "qn40", "qn42", "qn44", "qn46", "qn59", "qn63", "qn64", "qn67", "qn71", "qn72", "qn73", "qn74", "qn75", "qn76", "qn77", "qn78", "qn79", "qn80", "qn82", "qn87", "qn89", "qn90", "qn91", "qn92", "qn93", "qn94", "qn95", "qn99"]
df = df.drop(columns = cols_to_drop)
df

,site,raceeth,q6orig,q7orig,record,orig_rec,q1,q2,q4,q5,...,qnwater1,qnwater2,qnwater3,qnillict,BMIPCT,qnowt,qnobese,weight,stratum,psu
0,XX,7.0,504.0,121.0,1.0,NaN,5.0,2.0,1.0,A,...,1.0,1.0,1.0,2.0,46.88,2.0,2.0,1.66,213.0,57923.0
1,XX,8.0,503.0,119.0,2.0,NaN,4.0,2.0,2.0,A D,...,1.0,1.0,1.0,2.0,62.23,2.0,2.0,1.38,213.0,57923.0
2,XX,8.0,506.0,95.0,3.0,NaN,4.0,1.0,2.0,B E,...,1.0,1.0,2.0,2.0,0.59,2.0,2.0,1.49,213.0,57923.0
3,XX,5.0,510.0,152.0,4.0,NaN,4.0,2.0,2.0,E,...,1.0,1.0,1.0,1.0,69.78,2.0,2.0,1.71,213.0,57923.0
4,XX,6.0,510.0,130.0,5.0,NaN,5.0,2.0,1.0,NaN,...,1.0,1.0,1.0,2.0,16.73,2.0,2.0,1.66,213.0,57923.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13672,XX,5.0,503,124,13865.0,NaN,4.0,1.0,2.0,E,...,1.0,1.0,1.0,NaN,69.88,2.0,2.0,0.60,201.0,787890.0
13673,XX,3.0,508,001,13866.0,NaN,6.0,2.0,2.0,C,...,2.0,2.0,2.0,NaN,NaN,NaN,NaN,0.55,201.0,787890.0
13674,XX,5.0,600,120,13869.0,NaN,5.0,2.0,2.0,E,...,NaN,NaN,NaN,NaN,0.75,2.0,2.0,0.63,201.0,787890.0
13675,XX,7.0,505,125,13870.0,NaN,5.0,2.0,1.0,E,...,1.0,1.0,1.0,NaN,49.31,2.0,2.0,0.53,201.0,787890.0
13676,XX,5.0,504,165,13871.0,NaN,6.0,1.0,2.0,E,...,NaN,NaN,NaN,NaN,92.54,1.0,2.0,0.56,201.0,787890.0

In [55]:
print(len(df.columns.to_list()))
df.columns.to_list()

105

['site',
 'raceeth',
 'q6orig',
 'q7orig',
 'record',
 'orig_rec',
 'q1',
 'q2',
 'q4',
 'q5',
 'qn8',
 'qn9',
 'qn10',
 'qn11',
 'qn12',
 'qn15',
 'qn16',
 'qn17',
 'qn19',
 'qn20',
 'qn21',
 'qn22',
 'qn23',
 'qn24',
 'qn25',
 'qn26',
 'qn27',
 'qn28',
 'qn30',
 'qn32',
 'qn33',
 'qn34',
 'qn35',
 'qn37',
 'qn38',
 'qn41',
 'qn43',
 'qn45',
 'qn47',
 'qn48',
 'qn49',
 'qn50',
 'qn51',
 'qn52',
 'qn53',
 'qn54',
 'qn55',
 'qn56',
 'qn57',
 'qn58',
 'qn60',
 'qn61',
 'qn62',
 'qn68',
 'qn69',
 'qn70',
 'qn81',
 'qn83',
 'qn84',
 'qn85',
 'qn86',
 'qn88',
 'qn96',
 'qn97',
 'qn98',
 'qnfrcig',
 'qndaycig',
 'qnfrevp',
 'qndayevp',
 'qntb2',
 'qntb3',
 'qntb4',
 'qntb5',
 'qniudimp',
 'qnothhpl',
 'qndualbc',
 'qnbcnone',
 'qnfr0',
 'qnfr1',
 'qnfr2',
 'qnveg0',
 'qnveg1',
 'qnveg2',
 'qnveg3',
 'qnsoda1',
 'qnsoda2',
 'qnmilk1',
 'qnmilk3',
 'qnbk7day',
 'qnpa0day',
 'qnpa7day',
 'qndlype',
 'qnnodnt',
 'qnspdrk1',
 'qnspdrk2',
 'qnwater1',
 'qnwater2',
 'qnwater3',
 'qnillict',
 'BMIPCT',
 'qnowt',
 'qnobese',
 'weight',
 'stratum',
 'psu']

In [ ]:
#Next: find out what random variables are that aren't questions

In [59]:
# Printing column name and number of nulls
columns2 = df.columns.to_list()

for column in columns2:
    col = column
    nulls = df[column].isnull().sum()
    print(f"{col}: {nulls}")

site: 0
raceeth: 438
q6orig: 708
q7orig: 1103
record: 0
orig_rec: 13677
q1: 72
q2: 151
q4: 291
q5: 1245
qn8: 2528
qn9: 860
qn10: 6240
qn11: 6440
qn12: 3133
qn15: 76
qn16: 132
qn17: 2906
qn19: 2438
qn20: 3439
qn21: 6830
qn22: 4974
qn23: 230
qn24: 192
qn25: 256
qn26: 240
qn27: 255
qn28: 3157
qn30: 3708
qn32: 1360
qn33: 13108
qn34: 472
qn35: 910
qn37: 886
qn38: 872
qn41: 1066
qn43: 4782
qn45: 2018
qn47: 372
qn48: 1279
qn49: 694
qn50: 1505
qn51: 3022
qn52: 966
qn53: 987
qn54: 1221
qn55: 4628
qn56: 2723
qn57: 396
qn58: 2637
qn60: 1718
qn61: 1718
qn62: 10541
qn68: 3205
qn69: 1085
qn70: 791
qn81: 2389
qn83: 2128
qn84: 951
qn85: 3471
qn86: 1209
qn88: 572
qn96: 5287
qn97: 4865
qn98: 5237
qnfrcig: 1360
qndaycig: 1360
qnfrevp: 910
qndayevp: 910
qntb2: 1927
qntb3: 1916
qntb4: 1804
qntb5: 1553
qniudimp: 10629
qnothhpl: 10629
qndualbc: 10652
qnbcnone: 10629
qnfr0: 1148
qnfr1: 1148
qnfr2: 1148
qnveg0: 1920
qnveg1: 1920
qnveg2: 1920
qnveg3: 1920
qnsoda1: 2282
qnsoda2: 2282
qnmilk1: 4188
qnmilk3: 4188
qnbk7day: 2084
qnpa0day: 457
qnpa7day: 457
qndlype: 2389
qnnodnt: 1209
qnspdrk1: 4083
qnspdrk2: 4083
qnwater1: 3517
qnwater2: 3517
qnwater3: 3517
qnillict: 3884
BMIPCT: 1537
qnowt: 1537
qnobese: 1537
weight: 0
stratum: 0
psu: 0