In [2]:
import boto3
import pandas as pd
import os
import psycopg2 # pip install psycopg2-binary==2.8.6
import numpy as np

from config import ACCESS_ID 
from config import ACCESS_KEY 
from config import db_password

from sqlalchemy import create_engine

### Demographic Data

In [3]:
# Retrieving data from S3 bucket and reading it into a dataframe
s3_client = boto3.client(
    "s3",
    aws_access_key_id=ACCESS_ID,
    aws_secret_access_key= ACCESS_KEY)

response = s3_client.get_object(Bucket='group2-yrbs-data', Key='demographics.csv')

status = response.get("ResponseMetadata", {}).get("HTTPStatusCode")

demographics_df = pd.read_csv(response.get("Body"))

demographics_df = demographics_df.drop(columns="Unnamed: 0")
demographics_df = demographics_df.rename(columns={"Record":"record"})
demographics_df

,RaceEth,record,Age,Sex,Grade,Hispanic,white,AIN,asian,black,PI,Height,Weight2,BMIPCT,Weight,Stratum,PSU
0,7.0,1.0,5.0,2.0,2.0,1.0,0,1,0,0,0,1.63,54.89,46.88,1.66,213.0,57923.0
1,8.0,2.0,4.0,2.0,2.0,2.0,0,1,0,0,1,1.60,53.98,62.23,1.38,213.0,57923.0
2,8.0,3.0,4.0,1.0,2.0,2.0,1,0,1,0,0,1.68,43.09,0.59,1.49,213.0,57923.0
3,5.0,4.0,4.0,2.0,2.0,2.0,1,0,0,0,0,1.78,68.95,69.78,1.71,213.0,57923.0
4,6.0,5.0,5.0,2.0,2.0,1.0,0,0,0,0,0,1.78,58.97,16.73,1.66,213.0,57923.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13672,5.0,13865.0,4.0,1.0,1.0,2.0,1,0,0,0,0,1.60,56.25,69.88,0.60,201.0,787890.0
13673,3.0,13866.0,6.0,2.0,2.0,2.0,0,0,0,1,0,NaN,NaN,NaN,0.55,201.0,787890.0
13674,5.0,13869.0,5.0,2.0,3.0,2.0,1,0,0,0,0,1.83,54.43,0.75,0.63,201.0,787890.0
13675,7.0,13870.0,5.0,2.0,3.0,1.0,1,0,0,0,0,1.65,56.70,49.31,0.53,201.0,787890.0
13676,5.0,13871.0,6.0,1.0,3.0,2.0,1,0,0,0,0,1.63,74.84,92.54,0.56,201.0,787890.0

In [5]:
# Putting dataframe into a postgres sql table that's connected to an AWS RDS through pgadmin

host="yrbs-database2.cfajpmglo7yt.us-west-1.rds.amazonaws.com"
port=int(5432)
user="postgres"
passw= db_password
database="yrbs-database2"

mydb = create_engine("postgresql://" + user + ":" + passw + "@" + host + ":" + str(port) + "/" + database, echo=False)

demographics_df.to_sql(name='demographics', con=mydb, if_exists = "replace", index=False)

In [4]:
# accessing data from database, pulling it into a dataframe 
host="yrbs-database2.cfajpmglo7yt.us-west-1.rds.amazonaws.com"
port=int(5432)
dbname="yrbs-database2"
user="postgres"
password=db_password

conn = psycopg2.connect(host=host, user=user, port=port, password=password, database=dbname)

# pandas read_sql (pass in query and engine)
demo_df_from_aws = pd.read_sql('SELECT * FROM demographics;', con=conn)
demo_df_from_aws

,RaceEth,record,Age,Sex,Grade,Hispanic,white,AIN,asian,black,PI,Height,Weight2,BMIPCT,Weight,Stratum,PSU
0,7.0,1.0,5.0,2.0,2.0,1.0,0,1,0,0,0,1.63,54.89,46.88,1.66,213.0,57923.0
1,8.0,2.0,4.0,2.0,2.0,2.0,0,1,0,0,1,1.60,53.98,62.23,1.38,213.0,57923.0
2,8.0,3.0,4.0,1.0,2.0,2.0,1,0,1,0,0,1.68,43.09,0.59,1.49,213.0,57923.0
3,5.0,4.0,4.0,2.0,2.0,2.0,1,0,0,0,0,1.78,68.95,69.78,1.71,213.0,57923.0
4,6.0,5.0,5.0,2.0,2.0,1.0,0,0,0,0,0,1.78,58.97,16.73,1.66,213.0,57923.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13672,5.0,13865.0,4.0,1.0,1.0,2.0,1,0,0,0,0,1.60,56.25,69.88,0.60,201.0,787890.0
13673,3.0,13866.0,6.0,2.0,2.0,2.0,0,0,0,1,0,NaN,NaN,NaN,0.55,201.0,787890.0
13674,5.0,13869.0,5.0,2.0,3.0,2.0,1,0,0,0,0,1.83,54.43,0.75,0.63,201.0,787890.0
13675,7.0,13870.0,5.0,2.0,3.0,1.0,1,0,0,0,0,1.65,56.70,49.31,0.53,201.0,787890.0
13676,5.0,13871.0,6.0,1.0,3.0,2.0,1,0,0,0,0,1.63,74.84,92.54,0.56,201.0,787890.0

### Participant Response Data

In [5]:
# Retrieving data from S3 bucket and reading it into a dataframe
s3_client = boto3.client(
    "s3",
    aws_access_key_id=ACCESS_ID,
    aws_secret_access_key= ACCESS_KEY)

response = s3_client.get_object(Bucket='group2-yrbs-data', Key='records.csv')

status = response.get("ResponseMetadata", {}).get("HTTPStatusCode")

responses_df = pd.read_csv(response.get("Body"))

# Taking out an unneeded column and adding in a column with Record number so that tables can be joined
responses_df = responses_df.drop(columns=["Unnamed: 0"])
responses_df["record"] = np.arange(1, 13678)
responses_df = responses_df.rename(columns={"Suicide_attempt":"suicide_attempt"})

responses_df

,Seatbelt_Use,Driving_DUI_Other,Driving_DUI_Self,Driving_Distracted,Carry_Weapon,Carry_Weapon_School,Carry_Gun,School_Unsafe,School_physical_condition,Physical_fight,...,Tanning_Device_frequency,Sunscreen_use,Dentist_visit,Asthma,Sleep_school_night,Grades_past_year,Difficult_focus,English_fluency,Suicide_attempt_dummy,record
0,4.0,1.0,2.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,...,2.0,6.0,2.0,5.0,1.0,1.0,2.0,1.0,1.0,1
1,5.0,2.0,2.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,7.0,2.0,6.0,1.0,1.0,2.0,1.0,1.0,2
2,4.0,1.0,2.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,5.0,2.0,1.0,1.0,3.0,2.0,1.0,1.0,3
3,4.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,6.0,2.0,1.0,1.0,3.0,1.0,1.0,1.0,4
4,4.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,3.0,6.0,2.0,2.0,1.0,3.0,2.0,2.0,1.0,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13672,5.0,1.0,1.0,1.0,NaN,NaN,NaN,1.0,1.0,NaN,...,NaN,6.0,NaN,NaN,NaN,4.0,NaN,NaN,1.0,13673
13673,5.0,1.0,2.0,2.0,NaN,NaN,NaN,1.0,3.0,NaN,...,NaN,2.0,NaN,NaN,NaN,3.0,NaN,NaN,1.0,13674
13674,5.0,1.0,2.0,7.0,NaN,NaN,NaN,1.0,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,13675
13675,4.0,1.0,2.0,4.0,NaN,NaN,NaN,1.0,1.0,NaN,...,NaN,6.0,NaN,NaN,NaN,2.0,NaN,NaN,1.0,13676
13676,5.0,1.0,2.0,3.0,NaN,NaN,NaN,1.0,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,13677

In [6]:
# Putting dataframe into a postgres sql table that's connected to an AWS RDS through pgadmin

host="yrbs-database2.cfajpmglo7yt.us-west-1.rds.amazonaws.com"
port=int(5432)
user="postgres"
passw= db_password
database="yrbs-database2"

mydb = create_engine("postgresql://" + user + ":" + passw + "@" + host + ":" + str(port) + "/" + database, echo=False)

responses_df.to_sql(name='responses', con=mydb, if_exists = "replace", index=False)

In [7]:
# accessing data from database, pulling it into a dataframe 
host="yrbs-database2.cfajpmglo7yt.us-west-1.rds.amazonaws.com"
port=int(5432)
dbname="yrbs-database2"
user="postgres"
password=db_password

conn = psycopg2.connect(host=host, user=user, port=port, password=password, database=dbname)

# pandas read_sql (pass in query and engine)
responses_df_from_aws = pd.read_sql('SELECT * FROM responses;', con=conn)
responses_df_from_aws

,Seatbelt_Use,Driving_DUI_Other,Driving_DUI_Self,Driving_Distracted,Carry_Weapon,Carry_Weapon_School,Carry_Gun,School_Unsafe,School_physical_condition,Physical_fight,...,Tanning_Device_frequency,Sunscreen_use,Dentist_visit,Asthma,Sleep_school_night,Grades_past_year,Difficult_focus,English_fluency,Suicide_attempt_dummy,record
0,4.0,1.0,2.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,...,2.0,6.0,2.0,5.0,1.0,1.0,2.0,1.0,1.0,1
1,5.0,2.0,2.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,7.0,2.0,6.0,1.0,1.0,2.0,1.0,1.0,2
2,4.0,1.0,2.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,5.0,2.0,1.0,1.0,3.0,2.0,1.0,1.0,3
3,4.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,6.0,2.0,1.0,1.0,3.0,1.0,1.0,1.0,4
4,4.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,3.0,6.0,2.0,2.0,1.0,3.0,2.0,2.0,1.0,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13672,5.0,1.0,1.0,1.0,NaN,NaN,NaN,1.0,1.0,NaN,...,NaN,6.0,NaN,NaN,NaN,4.0,NaN,NaN,1.0,13673
13673,5.0,1.0,2.0,2.0,NaN,NaN,NaN,1.0,3.0,NaN,...,NaN,2.0,NaN,NaN,NaN,3.0,NaN,NaN,1.0,13674
13674,5.0,1.0,2.0,7.0,NaN,NaN,NaN,1.0,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,13675
13675,4.0,1.0,2.0,4.0,NaN,NaN,NaN,1.0,1.0,NaN,...,NaN,6.0,NaN,NaN,NaN,2.0,NaN,NaN,1.0,13676
13676,5.0,1.0,2.0,3.0,NaN,NaN,NaN,1.0,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,13677

In [8]:
# Pulling a table in that was joined in postgres to demonstrate that the tables can be joined
# The "white" variable is from the demographics table and the "suicide_attempt" variable is from the responses table


# pandas read_sql (pass in query and engine)
join_df_from_aws = pd.read_sql('SELECT * FROM joined_table;', con=conn)
join_df_from_aws

       white  suicide_attempt
0          0              1.0
1          0              1.0
2          1              1.0
3          1              1.0
4          0              1.0
...      ...              ...
13480      1              1.0
13481      1              4.0
13482      1              1.0
13483      1              1.0
13484      0              1.0

[13485 rows x 2 columns]