In [1]:
%matplotlib inline
import pandas as pd

In [2]:
data = pd.read_csv("XXHq.csv")
data.head()

C:\Users\Jeremy\Documents\anaconda3\envs\Python\lib\site-packages\IPython\core\interactiveshell.py:3457: DtypeWarning: Columns (2,3) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,site,raceeth,q6orig,q7orig,record,orig_rec,q1,q2,q3,q4,...,q94,q95,q96,q97,q98,q99,BMIPCT,weight,stratum,psu
0,XX,7.0,504.0,121.0,1.0,NaN,5.0,2.0,2.0,1.0,...,2.0,5.0,1.0,1.0,2.0,1.0,46.88,1.66,213.0,57923.0
1,XX,8.0,503.0,119.0,2.0,NaN,4.0,2.0,2.0,2.0,...,2.0,6.0,1.0,1.0,2.0,1.0,62.23,1.38,213.0,57923.0
2,XX,8.0,506.0,95.0,3.0,NaN,4.0,1.0,2.0,2.0,...,2.0,1.0,1.0,3.0,2.0,1.0,0.59,1.49,213.0,57923.0
3,XX,5.0,510.0,152.0,4.0,NaN,4.0,2.0,2.0,2.0,...,2.0,1.0,1.0,3.0,1.0,1.0,69.78,1.71,213.0,57923.0
4,XX,6.0,510.0,130.0,5.0,NaN,5.0,2.0,2.0,1.0,...,2.0,2.0,1.0,3.0,2.0,2.0,16.73,1.66,213.0,57923.0

In [3]:
columns = data.columns.to_list()
columns

for column in columns:
    col = column
    null = data[column].isnull().sum()
    print(f"{col}: {null}")

site: 0
raceeth: 438
q6orig: 708
q7orig: 1103
record: 0
orig_rec: 13677
q1: 72
q2: 151
q3: 112
q4: 291
q5: 1245
q6: 1537
q7: 1537
q8: 2528
q9: 860
q10: 1199
q11: 1567
q12: 3133
q13: 776
q14: 2818
q15: 76
q16: 132
q17: 2906
q18: 558
q19: 2438
q20: 3439
q21: 3324
q22: 408
q23: 230
q24: 192
q25: 256
q26: 240
q27: 255
q28: 3157
q29: 4928
q30: 3708
q31: 1375
q32: 1360
q33: 2783
q34: 472
q35: 910
q36: 1493
q37: 886
q38: 872
q39: 3687
q40: 491
q41: 1066
q42: 1657
q43: 4782
q44: 3656
q45: 2018
q46: 431
q47: 372
q48: 1279
q49: 694
q50: 1505
q51: 3022
q52: 966
q53: 987
q54: 1221
q55: 4628
q56: 2723
q57: 396
q58: 2637
q59: 1715
q60: 1718
q61: 1718
q62: 2032
q63: 1823
q64: 1957
q65: 2951
q66: 702
q67: 1726
q68: 3205
q69: 1085
q70: 791
q71: 1779
q72: 1778
q73: 1800
q74: 1830
q75: 2282
q76: 4188
q77: 2084
q78: 457
q79: 881
q80: 500
q81: 2389
q82: 3890
q83: 2128
q84: 951
q85: 3471
q86: 1209
q87: 777
q88: 572
q89: 666
q90: 5000
q91: 4113
q92: 4083
q93: 3517
q94: 5288
q95: 5203
q96: 5287
q97: 4865
q98: 5237
q99: 5289
BMIPCT: 1537
weight: 0
stratum: 0
psu: 0

In [4]:
# Creating list of columns to drop
dropped_col = ['orig_rec', 'site', 'q6orig', 'q7orig']
#                'q3', 'q6', 'q7', 'q13', 'q14', 'q18', 'q29', 'q31', 'q36'
#              , 'q36', 'q39', 'q40', 'q42', 'q44', 'q46', 'q59', 'q63', 'q64', 'q66', 'q67'
#              , 'q71', 'q72', 'q73', 'q74', 'q75', 'q76', 'q77', 'q78', 'q79', 'q80', 'q82'
#              , 'q87', 'q89', 'q90', 'q91', 'q92', 'q93', 'q94', 'q95', 'q99']

In [5]:
# Dropping columns
data = data.drop(dropped_col, axis=1)
data.head()

,raceeth,record,q1,q2,q3,q4,q5,q6,q7,q8,...,q94,q95,q96,q97,q98,q99,BMIPCT,weight,stratum,psu
0,7.0,1.0,5.0,2.0,2.0,1.0,A,1.63,54.89,4.0,...,2.0,5.0,1.0,1.0,2.0,1.0,46.88,1.66,213.0,57923.0
1,8.0,2.0,4.0,2.0,2.0,2.0,A D,1.60,53.98,5.0,...,2.0,6.0,1.0,1.0,2.0,1.0,62.23,1.38,213.0,57923.0
2,8.0,3.0,4.0,1.0,2.0,2.0,B E,1.68,43.09,4.0,...,2.0,1.0,1.0,3.0,2.0,1.0,0.59,1.49,213.0,57923.0
3,5.0,4.0,4.0,2.0,2.0,2.0,E,1.78,68.95,4.0,...,2.0,1.0,1.0,3.0,1.0,1.0,69.78,1.71,213.0,57923.0
4,6.0,5.0,5.0,2.0,2.0,1.0,NaN,1.78,58.97,4.0,...,2.0,2.0,1.0,3.0,2.0,2.0,16.73,1.66,213.0,57923.0

In [6]:
# Dropping null rows
#data = data.dropna(axis=0,how='any')
#data.count
# Omitting so we can try interpolating

In [7]:
# Slicing demographics csv
demo_col = ["raceeth", "record", "q1", "q2", "q3", "q4", "q5", "q6", "q7", "BMIPCT", "weight", "stratum", "psu"]
demo_df = data.loc[:, demo_col]
demo_df

from pathlib import Path
path = Path("C:/Users/Jeremy/Desktop/SKOOL/DA_Bootcamp/Capstone Project/capstone-project/records.csv")
demo_df.to_csv(path)

In [8]:
# Records CSV
data2 = data.drop(data[["raceeth", "q1", "q2", "q3", "q4", "q5", "q6", "q7", "BMIPCT", "weight", "stratum", "psu"]], axis=1)
data2
from pathlib import Path
path = Path("C:/Users/Jeremy/Desktop/SKOOL/DA_Bootcamp/Capstone Project/capstone-project/demographics.csv")
data2.to_csv(path)

In [9]:
# Creating Race Columns & manual encoding
data['white'] = data['q5'].apply(lambda x: 1 if 'E' in str(x) else 0)
data['AIN'] = data['q5'].apply(lambda x: 1 if 'A' in str(x) else 0)
data['asian'] = data['q5'].apply(lambda x: 1 if 'B' in str(x) else 0)
data['black'] = data['q5'].apply(lambda x: 1 if 'C' in str(x) else 0)
data['PI'] = data['q5'].apply(lambda x: 1 if 'D' in str(x) else 0)

# Dropping q5
data = data.drop(data[["q5"]], axis=1)
data

,raceeth,record,q1,q2,q3,q4,q6,q7,q8,q9,...,q99,BMIPCT,weight,stratum,psu,white,AIN,asian,black,PI
0,7.0,1.0,5.0,2.0,2.0,1.0,1.63,54.89,4.0,1.0,...,1.0,46.88,1.66,213.0,57923.0,0,1,0,0,0
1,8.0,2.0,4.0,2.0,2.0,2.0,1.60,53.98,5.0,2.0,...,1.0,62.23,1.38,213.0,57923.0,0,1,0,0,1
2,8.0,3.0,4.0,1.0,2.0,2.0,1.68,43.09,4.0,1.0,...,1.0,0.59,1.49,213.0,57923.0,1,0,1,0,0
3,5.0,4.0,4.0,2.0,2.0,2.0,1.78,68.95,4.0,1.0,...,1.0,69.78,1.71,213.0,57923.0,1,0,0,0,0
4,6.0,5.0,5.0,2.0,2.0,1.0,1.78,58.97,4.0,1.0,...,2.0,16.73,1.66,213.0,57923.0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13672,5.0,13865.0,4.0,1.0,1.0,2.0,1.60,56.25,5.0,1.0,...,NaN,69.88,0.60,201.0,787890.0,1,0,0,0,0
13673,3.0,13866.0,6.0,2.0,2.0,2.0,NaN,NaN,5.0,1.0,...,NaN,NaN,0.55,201.0,787890.0,0,0,0,1,0
13674,5.0,13869.0,5.0,2.0,3.0,2.0,1.83,54.43,5.0,1.0,...,NaN,0.75,0.63,201.0,787890.0,1,0,0,0,0
13675,7.0,13870.0,5.0,2.0,3.0,1.0,1.65,56.70,4.0,1.0,...,NaN,49.31,0.53,201.0,787890.0,1,0,0,0,0
13676,5.0,13871.0,6.0,1.0,3.0,2.0,1.63,74.84,5.0,1.0,...,NaN,92.54,0.56,201.0,787890.0,1,0,0,0,0

In [10]:
# Changing q28 column 
data.loc[data['q28'] > 0, 'q28'] = 1

In [11]:
data_fill = data.fillna(value=0, axis='columns')
data_fill

,raceeth,record,q1,q2,q3,q4,q6,q7,q8,q9,...,q99,BMIPCT,weight,stratum,psu,white,AIN,asian,black,PI
0,7.0,1.0,5.0,2.0,2.0,1.0,1.63,54.89,4.0,1.0,...,1.0,46.88,1.66,213.0,57923.0,0,1,0,0,0
1,8.0,2.0,4.0,2.0,2.0,2.0,1.60,53.98,5.0,2.0,...,1.0,62.23,1.38,213.0,57923.0,0,1,0,0,1
2,8.0,3.0,4.0,1.0,2.0,2.0,1.68,43.09,4.0,1.0,...,1.0,0.59,1.49,213.0,57923.0,1,0,1,0,0
3,5.0,4.0,4.0,2.0,2.0,2.0,1.78,68.95,4.0,1.0,...,1.0,69.78,1.71,213.0,57923.0,1,0,0,0,0
4,6.0,5.0,5.0,2.0,2.0,1.0,1.78,58.97,4.0,1.0,...,2.0,16.73,1.66,213.0,57923.0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13672,5.0,13865.0,4.0,1.0,1.0,2.0,1.60,56.25,5.0,1.0,...,0.0,69.88,0.60,201.0,787890.0,1,0,0,0,0
13673,3.0,13866.0,6.0,2.0,2.0,2.0,0.00,0.00,5.0,1.0,...,0.0,0.00,0.55,201.0,787890.0,0,0,0,1,0
13674,5.0,13869.0,5.0,2.0,3.0,2.0,1.83,54.43,5.0,1.0,...,0.0,0.75,0.63,201.0,787890.0,1,0,0,0,0
13675,7.0,13870.0,5.0,2.0,3.0,1.0,1.65,56.70,4.0,1.0,...,0.0,49.31,0.53,201.0,787890.0,1,0,0,0,0
13676,5.0,13871.0,6.0,1.0,3.0,2.0,1.63,74.84,5.0,1.0,...,0.0,92.54,0.56,201.0,787890.0,1,0,0,0,0

In [12]:
path = Path("C:/Users/Jeremy/Desktop/SKOOL/DA_Bootcamp/Capstone Project/capstone-project/data_fill.csv")
data_fill.to_csv(path)

In [13]:
data_linear = data.interpolate(method="linear", axis=0, limit=None)
data_linear

,raceeth,record,q1,q2,q3,q4,q6,q7,q8,q9,...,q99,BMIPCT,weight,stratum,psu,white,AIN,asian,black,PI
0,7.0,1.0,5.0,2.0,2.0,1.0,1.630,54.89,4.0,1.0,...,1.0,46.880,1.66,213.0,57923.0,0,1,0,0,0
1,8.0,2.0,4.0,2.0,2.0,2.0,1.600,53.98,5.0,2.0,...,1.0,62.230,1.38,213.0,57923.0,0,1,0,0,1
2,8.0,3.0,4.0,1.0,2.0,2.0,1.680,43.09,4.0,1.0,...,1.0,0.590,1.49,213.0,57923.0,1,0,1,0,0
3,5.0,4.0,4.0,2.0,2.0,2.0,1.780,68.95,4.0,1.0,...,1.0,69.780,1.71,213.0,57923.0,1,0,0,0,0
4,6.0,5.0,5.0,2.0,2.0,1.0,1.780,58.97,4.0,1.0,...,2.0,16.730,1.66,213.0,57923.0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13672,5.0,13865.0,4.0,1.0,1.0,2.0,1.600,56.25,5.0,1.0,...,1.0,69.880,0.60,201.0,787890.0,1,0,0,0,0
13673,3.0,13866.0,6.0,2.0,2.0,2.0,1.715,55.34,5.0,1.0,...,1.0,35.315,0.55,201.0,787890.0,0,0,0,1,0
13674,5.0,13869.0,5.0,2.0,3.0,2.0,1.830,54.43,5.0,1.0,...,1.0,0.750,0.63,201.0,787890.0,1,0,0,0,0
13675,7.0,13870.0,5.0,2.0,3.0,1.0,1.650,56.70,4.0,1.0,...,1.0,49.310,0.53,201.0,787890.0,1,0,0,0,0
13676,5.0,13871.0,6.0,1.0,3.0,2.0,1.630,74.84,5.0,1.0,...,1.0,92.540,0.56,201.0,787890.0,1,0,0,0,0

In [14]:
path2 = Path("C:/Users/Jeremy/Desktop/SKOOL/DA_Bootcamp/Capstone Project/capstone-project/data_linear.csv")
data_fill.to_csv(path2)

In [15]:
data_pad = data.interpolate(method="pad", axis=0, limit=None)
data_pad

,raceeth,record,q1,q2,q3,q4,q6,q7,q8,q9,...,q99,BMIPCT,weight,stratum,psu,white,AIN,asian,black,PI
0,7.0,1.0,5.0,2.0,2.0,1.0,1.63,54.89,4.0,1.0,...,1.0,46.88,1.66,213.0,57923.0,0,1,0,0,0
1,8.0,2.0,4.0,2.0,2.0,2.0,1.60,53.98,5.0,2.0,...,1.0,62.23,1.38,213.0,57923.0,0,1,0,0,1
2,8.0,3.0,4.0,1.0,2.0,2.0,1.68,43.09,4.0,1.0,...,1.0,0.59,1.49,213.0,57923.0,1,0,1,0,0
3,5.0,4.0,4.0,2.0,2.0,2.0,1.78,68.95,4.0,1.0,...,1.0,69.78,1.71,213.0,57923.0,1,0,0,0,0
4,6.0,5.0,5.0,2.0,2.0,1.0,1.78,58.97,4.0,1.0,...,2.0,16.73,1.66,213.0,57923.0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13672,5.0,13865.0,4.0,1.0,1.0,2.0,1.60,56.25,5.0,1.0,...,1.0,69.88,0.60,201.0,787890.0,1,0,0,0,0
13673,3.0,13866.0,6.0,2.0,2.0,2.0,1.60,56.25,5.0,1.0,...,1.0,69.88,0.55,201.0,787890.0,0,0,0,1,0
13674,5.0,13869.0,5.0,2.0,3.0,2.0,1.83,54.43,5.0,1.0,...,1.0,0.75,0.63,201.0,787890.0,1,0,0,0,0
13675,7.0,13870.0,5.0,2.0,3.0,1.0,1.65,56.70,4.0,1.0,...,1.0,49.31,0.53,201.0,787890.0,1,0,0,0,0
13676,5.0,13871.0,6.0,1.0,3.0,2.0,1.63,74.84,5.0,1.0,...,1.0,92.54,0.56,201.0,787890.0,1,0,0,0,0

In [16]:
path3 = Path("C:/Users/Jeremy/Desktop/SKOOL/DA_Bootcamp/Capstone Project/capstone-project/data_pad.csv")
data_fill.to_csv(path3)